@charset "UTF-8";

ol {
  counter-reset: list;
  list-style: none;
}

ol > li {
  counter-increment: list;
}
ol > li:before {
  content: counter(list, lower-roman) ") ";
}

h1, h2 {
  counter-reset: theorem definition remark;
}

body {
  counter-reset: section subsection;
}

h1:not(.contents) {
  counter-reset: subsection;
  counter-increment: section;
}
h1:not(.contents):before {
  content: counter(section) " ";
}

h2 {
  counter-increment: subsection;
}
h2:before {
  content: counter(section) "." counter(subsection) " ";
}

ul.contents {
  counter-reset: tocSection tocSubsection;
  list-style: none;
}

li.tocFirstLevel {
  counter-increment: tocSection;
}
li.tocFirstLevel:before {
  content: counter(tocSection) ".";
  margin-right: 0.7em;
}

li.tocSecondLevel {
  counter-increment: tocSubsection;
}
li.tocSecondLevel:before {
  content: counter(tocSection) "." counter(tocSubsection) ".";
  margin-left: 1.5em;
  margin-right: 0.7em;
}

.Definition {
  counter-increment: definition;
}

.Theorem, .Proposition, .Lemma, .Corollary {
  counter-increment: theorem;
}

.DefinitionName:after, .TheoremName:after, .PropositionName:after, .LemmaName:after, .CorollaryName:after {
  font-weight: bold;
}

.DefinitionName:after {
  content: " " counter(section) "." counter(subsection) "." counter(definition);
}

.TheoremName:after {
  content: " " counter(section) "." counter(subsection) "." counter(theorem);
}

.PropositionName:after {
  content: " " counter(section) "." counter(subsection) "." counter(theorem);
}

.LemmaName:after {
  content: " " counter(section) "." counter(subsection) "." counter(theorem);
}

.CorollaryName:after {
  content: " " counter(section) "." counter(subsection) "." counter(theorem);
}
